# ========================
# Node / Frontend / Backend
# ========================
# Node modules
node_modules/
**/node_modules/

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
build/
dist/
.next/
out/
coverage/

# Env files
.env
.env.*


# ========================
# Python / Backend
# ========================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Python packaging
*.egg-info/
*.egg
dist/
build/

# Database files
*.db
*.sqlite3

# Firebase / credentials
ratify-e2f8a-firebase-adminsdk-*.json


# ========================
# OS / IDE files
# ========================
# VSCode
.vscode/

# JetBrains / PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db


# ========================
# Logs and coverage
# ========================
*.log
*.cover
*.coverage
.coverage.*
.cache
.pytest_cache/
junit*.xml
